body {
  padding: 2rem;
  margin: 0;
  text-align: center;
}

#cat-list {
  width: 40%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 1.5rem;
}

#cat-list li {
  padding: .25rem 0;
  border-bottom: 1px darkgray solid;
}

#cat-list li:last-child {
  border-bottom: none;
}

#cat-list li:hover {
  cursor: pointer;
}

#cat-name {
  font-size: 3rem;
  color: blue;
}

#cat-count {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#cat {
  margin-bottom: 1.5rem;
}

#admin {
  width: 60px;
  height: 30px;
  display: block;
  margin: 1rem auto;
  border-radius: 5px;
  border: none;
  background: lightblue;
  color: black;
}

#admin:hover {
  cursor: pointer;
}

#admin-area form {
  display: none;
}

#admin-area form input {
  display: block;
  margin: 0 auto;
}

#saveBtn, #cancelBtn {
  margin-top: 1rem;
}